body{

	margin: 0;
	font-size: 16px;
	background: rgba(0, 169, 238, 0.12);

}
a{
	text-decoration: none;
}
.category_sec,
.articles_sec,
.single_sec,
.admin_page_sec,
.edit_category_sec,
.admin_addcat_sec,
.admin_addart_sec,
.admin_edit_sec,
.edit_article_sec,
.edit_single_sec{
	padding-top: 50px;
}
.admin_page_sec a,
.admin_edit_sec a{
	color: #ff4400;
}
.edit_article_sec a{
	display: flex;
	align-items: center;
	color: #fff;
}